# Extract data from a URL

This NoteBook will help scraping data from url and then transfrom it to Datafrome.

### Import libraries

In [25]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

### Get the webpage into a beautifulSoup structure

In [26]:
url = "https://en.wikipedia.org/wiki/World_population"
data  = requests.get(url).text 
soup = BeautifulSoup(data,"html.parser")  # create a soup object using the variable 'data'
#find a html table in the web page
tables = soup.find_all('table') # in html table is represented by the tag <table>

In [27]:
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

7

In [30]:
# Instead of appending, you can construct lists for each column and then create the DataFrame
rank_list = []
country_list = []
population_list = []
area_list = []
density_list = []

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if col:
        rank_list.append(col[0].text)
        country_list.append(col[1].text)
        population_list.append(col[2].text.strip())
        area_list.append(col[3].text.strip())
        density_list.append(col[4].text.strip())

population_data = pd.DataFrame({
    "Rank": rank_list,
    "Country": country_list,
    "Population": population_list,
    "Area": area_list,
    "Density": density_list
})

In [31]:
print(population_data)

  Rank                        Country     Population       Area Density
0    1                      Singapore      5,921,231        719   8,235
1    2                     Bangladesh    165,650,475    148,460   1,116
2    3  \n Palestine[note 3][103]\n\n      5,223,000      6,025     867
3    4                 Taiwan[note 4]     23,580,712     35,980     655
4    5                    South Korea     51,844,834     99,720     520
5    6                        Lebanon      5,296,814     10,400     509
6    7                         Rwanda     13,173,730     26,338     500
7    8                        Burundi     12,696,478     27,830     456
8    9                          India  1,389,637,446  3,287,263     423
9   10                    Netherlands     17,400,824     41,543     419